<ion-header color="mapa-header">

  <ion-toolbar color="mapa-header">

      <ion-title *ngIf="isBrowser">Domicilio</ion-title>

      <!--
      <ion-buttons end>
        <button ion-button icon-only clear color="light">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button> 
      </ion-buttons> -->

  </ion-toolbar>
  
</ion-header>

<ion-content >
  <!--
  <ion-card>

    
    <ion-card-header style="text-align:center">
      Información del Domicilio
    </ion-card-header>

    <ion-list>-->

        <!--
      
       <br/> 
     
      <sebm-google-map id="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" [zoomControl]="map.zoomControl" [disableDefaultUI]="map.disableUI" [streetViewControl]="map.streetViewControl" >
          <sebm-google-map-marker  [latitude]="map.lat" [longitude]="map.lng" *ngIf="showMarker"  ></sebm-google-map-marker>
      </sebm-google-map>

      <br/>-->

      <ion-item>
        <ion-label floating>Código Postal:</ion-label>
        <ion-input type="text" value="{{codigoPostal}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Calle:</ion-label>
        <ion-input type="text" value="{{nombreCalle}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Número Exterior:</ion-label>
        <ion-input type="text" value="{{numeroCalle}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Número Interior:</ion-label>
        <ion-input type="text" value="{{numeroInterior}}"></ion-input>
      </ion-item>

       <ion-item>
         <!--
        <ion-label floating>Colonia:</ion-label>
        <ion-input type="text" value="{{colonia}}"></ion-input>-->

        <ion-label>Colonia</ion-label>
        <ion-select>
          <ion-option *ngFor="let domicilio of domicilios">{{domicilio.asentamiento}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <!--
        <ion-label floating>Delegación:</ion-label>
        <ion-input type="text" value="{{delegacion}}"></ion-input>-->

        <ion-label>Delegación o Municipio</ion-label>
        <ion-select>
            <ion-option *ngFor="let domicilio of domicilios">{{domicilio.municipio}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <!--
        <ion-label floating>Ciudad:</ion-label>
        <ion-input type="text" value="{{ciudad}}"></ion-input>
      </ion-item>-->

      <ion-label>Ciudad</ion-label>
        <ion-select>
          <ion-option *ngFor="let domicilio of domicilios">{{domicilio.ciudad}}</ion-option>
        </ion-select>
      </ion-item>

     <ion-item>
       <!--
        <ion-label floating>Estado:</ion-label>
        <ion-input type="text" value="{{estado}}"></ion-input>-->

        <ion-label>Estado</ion-label>
        <ion-select>
          <ion-option *ngFor="let estado of estados" value="{{estado.codigoEstado}}">{{estado.descripcion}}</ion-option>
        </ion-select>
      </ion-item>

      

  <!--
  </ion-list>

</ion-card>-->
 
  <!--<button ion-button full color="allianz-naranja">Continuar</button>-->


</ion-content>

<ion-footer>
  <ion-fab right bottom>
        <button color="allianz-naranja" ion-fab >
                <ion-icon name="md-arrow-forward"></ion-icon>
            </button>
    </ion-fab>
</ion-footer>