/*.sebm-google-map-container {
    width: 100%; 
    height: 70%; 
    opacity: 0; 
    transition: opacity 150ms ease-in 
}

.no-padding {
    padding: 0px !important;
}

*/

.mapa1 {
    width: 100%; 
    height: 85%; 
    opacity: 0; 
    transition: opacity 150ms ease-in 
}

.no-padding {
    padding: 0px !important;
}
