<ion-header color="mapa-header">
    <ion-toolbar color="mapa-header">

      <ion-title *ngIf="isBrowser">Domicilio</ion-title>

      <!--
      <ion-buttons end>
        <button ion-button icon-only clear color="light" (click)="mostrarAlertaNumero()" >
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button> 
      </ion-buttons> -->
      
  </ion-toolbar>
</ion-header>



<ion-content>

    <ion-item style="width: 90%;position: absolute;z-index: 99;text-align: center; margin: 2% 5% 0;" >
      <ion-label ><ion-icon name="search"></ion-icon></ion-label>
      <ion-input type="text" id="autocomplete" style="float: left;" placeholder="Ingrese su domicilio" clearInput data-tap-disabled="true"></ion-input >
    </ion-item>

    <sebm-google-map id="map" class="mapa1" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" [zoomControl]="map.zoomControl" [disableDefaultUI]="map.disableUI" [streetViewControl]="map.streetViewControl">
      <sebm-google-map-marker [latitude]="map.lat" [longitude]="map.lng" *ngIf="showMarker"  (markerClick)="mostrarAlertaNumero()" [iconUrl]="map.markerIcon"></sebm-google-map-marker>
    </sebm-google-map>

    <div  style="height: auto; width: 100%; padding:0 8px 8px; z-index: 999;background-color: white">
            <p>{{nombreCalle}} {{numeroCalle}} {{numeroInterior}} {{colonia}} {{codigoPostal}} {{delegacion}} {{ciudad}} {{estado}} </p>
    </div> <br/> <br/> <br/> <br/>

   
</ion-content>

<ion-footer>
  <ion-fab right bottom>
        <button color="allianz-naranja" ion-fab >
                <ion-icon name="md-arrow-forward"></ion-icon>
            </button>
    </ion-fab>
</ion-footer>